<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041096392429-3b25pom5gopqd7qcvnc5be9j737ul47l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041096392429-3b25pom5gopqd7qcvnc5be9j737ul47l</string>
	<key>API_KEY</key>
	<string>AIzaSyAsAVCm7f8Gx_Y7kFKYAxPNvaqwS0eeKuk</string>
	<key>GCM_SENDER_ID</key>
	<string>1041096392429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.userMobileApp</string>
	<key>PROJECT_ID</key>
	<string>eutopic-staging-efa58</string>
	<key>STORAGE_BUCKET</key>
	<string>eutopic-staging-efa58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041096392429:ios:134f5cbcc74fb825bc96e4</string>
</dict>
</plist>